type odinperformanced, domain, coredomain;
type odinperformanced_exec, system_file_type, exec_type, file_type;

init_daemon_domain(odinperformanced)
binder_use(odinperformanced)
add_service(odinperformanced, odin_performance_service)

get_prop(odinperformanced, build_prop)
get_prop(odinperformanced, build_vendor_prop)
unix_socket_send(odinperformanced, logdw, logd)

allow odinperformanced odin_performance_sysfs:file { open read write };

binder_call(odinsettings_app, odinperformanced)
