typeattribute rsinputd coredomain;
type rsinputd_exec, system_file_type, exec_type, file_type;

init_daemon_domain(rsinputd)

get_prop(rsinputd, build_prop)
unix_socket_send(rsinputd, logdw, logd)

allow rsinputd rsinputd_mcu_sysfs:file { open write };
